@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome To Azure App Service
        <span class="badge text-bg-primary">GA</span>
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sint iusto, fugiat congue duo facer minim laboris invidunt anim nostrud aliqua facilisis labore
        ut sea stet sea takimata feugiat adipiscing tempor praesent eleifend delenit
        eros nonummy ipsum feugait. Mazim exerci eum.
    </p>
</div>
